.clock {
    width: 100%;

    svg {
        width: 100%;
        height: 100%;
        transform: rotate(-90deg);
    }

    .content {
        text-align: center;
        width: 100%;
        height: 100%;

        .time, .title, .subtitle {
            height: calc(100vh / 3);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .time {
            font-size: 300px;
        }

        .title {
            font-size: 125px;
        }

        .subtitle {
            font-size: 125px;
        }
    }
}